.godot/
.import/
*.tmp
*.log
user://

fennara-cpp/.scons_cache/
fennara-cpp/.sconsign.dblite
fennara-cpp/build/

local/target/

dist/
.package-preview/

godot/addons/fennara/bin/*
!godot/addons/fennara/bin/.gitkeep
